masim
masim.o
misc.o
*.png
damon.data*
tmp*
perf*
pin_graph_test_fmt
test_file
test_file_hex
.vscode/
trace
*dump*
*.o
*/gen_*/*
trace*
a.out
get_numa_stat.cpp
*.tar.gz
masim_src/stiars_40gb_trace
masim_src/pinatrace.out
evaluation/
plotting/__pycache__/*
